.chord {
  fill: #506c77;
  opacity: 1;
}

.chord.focus {
  opacity: 1;
}

.chord.blur {
  opacity: 0.2;
}

.chord.mouseover {
  opacity: 1;
}

.chord.mouseout {
  opacity: 0.2;
}

.circle {
  fill: steelblue;
  opacity: 1;
}

.circle.blur {
  opacity: 0.2;
}

.circle.focus {
  opacity: 1;
}

.circle.mouseover {
  opacity: 1;
}

.circle.mouseout {
  opacity: 0.2;
}

.link {
  fill: #e0e1e5;
  opacity: 0.2;
}

.link.blur {
  opacity: 0.2;
}

.link.focus {
  opacity: 1;
}

.link.mouseover {
  opacity: 1;
}

.link.mouseout {
  opacity: 0.2;
}

.text {
  fill: black;
}

.text-tooltip {
  position: fixed;
  background-color: #fff;
  color: #000;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
}
